.input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	color: var(--c-primary);
	position: relative;
	&__wrapper {
		position: relative;
		flex: 1 1 auto;
	}
	&__label {
		opacity: 0.5;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		transition: top 0.2s;
		z-index: 1;
	}
	&__input {
		position: relative;
		z-index: 2;
		width: 100%;
		background: none;
		color: inherit;
		height: 100%;
	}
	&__input.focus ~ .input__label {
		top: -1em;
		font-size: 0.8em;
	}
	&__check {
		flex: 0 0 auto;
		width: 1.5rem;
		aspect-ratio: 1;
		border-radius: 3px;
		opacity: 0.1035;
		background-color: var(--c-primary);
		display: flex;
		align-items: center;
		justify-content: center;
		& > .svg-icon {
			visibility: hidden;
		}
	}
	&__checkbox {
		visibility: hidden;
		position: absolute;
		&:checked {
			& ~ .input__check {
				background-color: var(--c-accent);
				opacity: 1;
				& > .svg-icon {
					visibility: visible;
				}
			}
		}
	}
}
