.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  color: var(--c-primary);
  position: relative;
  &__icon {
    color: var(--c-accent);
  }
  &__input {
    flex: 1 1 auto;
    padding: 1rem 0;
    z-index: 2;
    width: 100%;
    background: none;
    color: inherit;
    height: 100%;
    cursor: pointer;
    &::placeholder {
      opacity: 0.5;
      color: var(--c-primary);
    }
  }
  &__check {
    flex: 0 0 auto;
    width: 1.5rem;
    aspect-ratio: 1;
    border-radius: 3px;
    opacity: 0.1035;
    background-color: var(--c-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    &:checked {
      & ~ .input__check {
        background-color: var(--c-accent);
        opacity: 1;
      }
    }
    &:focus + .input__check {
      outline: 2px solid var(--c-accent);
    }
  }
}
