.filter {
	width: 100%;
	padding-inline: 1.5rem 1rem;
	padding-block: 1rem;
	background-color: var(--bkg-secondary);
	border-radius: 6px;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	position: relative;
	margin-bottom: 2rem;
	&__title-section {
		flex: 1 0 25%;
	}
	&__extras-section {
		flex: 1 0 70%;
		display: none;
		position: fixed;
		inset: 0;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 10;
		padding: 1.5rem;
	}
	&__btn-section {
		display: flex;
		gap: 1.5rem;
		align-items: center;
	}
	&__search-icon {
		font-size: 1.5rem;
		color: var(--c-accent);
		display: none;
	}
}

.filter__extras-section.overlay-active {
	display: flex;
}
.extras-section {
	max-width: 31.25rem;
	border-radius: 6px;
	background: var(--bkg-secondary);
	padding: 1.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1.75rem;
	column-gap: 1.25rem;
	&__separator {
		width: 100%;
		height: 0px;
		position: relative;
		&.inner-sep {
			display: none;
		}
		&::before {
			content: '';
			position: absolute;
			inset: 0 -1.5rem;
			opacity: 0.2;
			border: 1px solid var(--c-secondary);
		}
	}
	&__location {
		flex: 1 1 fit-content;
	}
	&__full-time {
		//min-width: 110px;
		flex: 0 0 fit-content;
	}
}
