.m-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding-block: 1rem;
	padding-inline: 2rem;
	margin-inline: auto;
	&.small {
		width: fit-content;
	}
	&.medium {
		width: fit-content;
	}
	&.large {
		width: 100%;
	}
	&.cta {
		background-color: var(--c-accent);
		color: #fff;
		&:active {
			background-color: var(--c-light-accent);
		}
	}
	&.link {
		background-color: rgb(from var(--c-accent) r g b / 0.1);
		color: var(--c-accent);
		&:active {
			background-color: rgb(from var(--c-accent) r g b / 0.35);
		}
	}
}
