.m-job-card {
	padding-inline: 2rem;
	padding-block: 0rem 2rem;
	display: flex;
	flex-direction: column;

	position: relative;
	& > * {
		position: relative;
		z-index: 1;
	}
	&--centered {
		align-items: center;
	}
	&__logo {
		width: 3.125rem;
		height: 3.125rem;
		border-radius: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1.5rem;
	}
	&__logo-img {
		max-width: 80%;
		width: auto;
	}
	&__title {
		color: var(--c-primary);
		margin-bottom: 1rem;
	}
	&__info {
		color: var(--c-secondary);
		margin-bottom: 1rem;
	}
	&__location {
		color: var(--c-accent);
		margin-top: 1.75rem;
	}
	&__btn {
		margin-top: 0.625rem;
	}
	&__point {
		margin-inline: 0.5rem;
	}
	&::before {
		content: '';
		position: absolute;
		inset: 1.5625rem 0 0 0;
		border-radius: 6px;
		background: var(--bkg-secondary);
		z-index: 0;
	}
}
