.m-card {
	padding-inline: 2rem;
	padding-block: 0rem 1rem;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	background: var(--bkg-secondary);
	position: relative;
	& > :not(.m-card__logo) {
		margin-bottom: 1rem;
	}
	&.centered {
		align-items: center;
	}
	&__logo {
		width: 3.125rem;
		height: 3.125rem;
		border-radius: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		transform: translateY(-50%);
		&__img {
			max-width: 80%;
			width: auto;
		}
	}
	&__title {
		color: var(--c-primary);
	}
	&__body {
		color: var(--c-secondary);
		& > span {
			margin-inline: 0.5rem;
		}
	}
	&__location {
		color: var(--c-accent);
		padding-top: 0.75rem;
	}
}
.m-card-info {
	padding-inline: 2rem;
	padding-block: 2.5rem;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	background: var(--bkg-secondary);
	position: relative;
	color: #fff;
	& .m-card {
		&__title {
		}
		&__body {
			color: var(--c-secondary);
			& > span {
				margin-inline: 0.5rem;
			}
		}
		&__location {
			color: var(--c-accent);
			padding-top: 0.75rem;
		}
	}
}
.list {
	list-style: none;
	&__item {
		display: flex;
		&::before {
			content: '\ec35';
			margin-right: 2rem;
		}
	}
}
