@use "fonts";
:root {
	--c-violet: #5964e0;
	--c-white: #ffffff;
	--c-light-violet: #939bf4;
	--c-light-grey: #f4f6f8;
	--c-very-dark-blue: #19202d;
	--c-gray: #9daec2;
	--c-midnight: #121721;
	--c-dark-grey: #6e8098;

	--ff-kumbh: "Kumbh Sans", sans-serif;
}
