.main-container {
	width: 100%;
	min-height: 100svh;
	background: var(--bkg-primary);
	position: relative;
}
.l-header {
	padding-inline: 1.5rem;
	padding-block: 2rem;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 0;
}
.l-jobs {
	&__list {
		padding-inline: 1.5rem;
		padding-bottom: 4rem;
	}
	&__info {
		padding-inline: 1.5rem;
	}
	&__footer {
		padding: 1.5rem;
		background: var(--bkg-secondary);
	}
}
.l-foot {
	padding: 1.5rem;
	background: var(--bkg-secondary);
}
.l-jobs-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
	grid-auto-rows: 1fr;
	row-gap: 4.0625rem;
	column-gap: 0.75rem;
	padding-top: 1.5625rem;
	margin-bottom: 2rem;
	align-items: stretch;
}
img {
	width: 100%;
	max-width: 100%;
}
