.main-container {
	width: 100%;
	min-height: 100svh;
	background: var(--bkg-primary);
	position: relative;
}
.l-header {
	padding-inline: 1.5rem;
	padding-block: 2rem;
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 0;
}
.l-jobs {
	padding-inline: 1.5rem;
	padding-bottom: 4rem;
}
.l-jobs-info {
	padding-inline: 1.5rem;
	& > * {
		margin-bottom: 1.5rem;
	}
}
.l-jobs-wrapper {
	display: grid;
	gap: 1.5rem;
	margin-bottom: 2rem;
}
img {
	width: 100%;
	max-width: 100%;
}
